.recordsWrapper {
  padding: 0 20px;
}

.recordsHeader {
  max-width: 960px;
  margin: 40px auto;
}

.recordsHeader h3 {
  padding: 20px;
  text-align: center;
}

.recordsFilter {
  display: flex;
  flex-direction: row;
  max-width: 960px;
  margin: auto;
}

.singleFilter {
  flex: 1;
}

.singleFilter > h4 {
  text-align: center;
  padding: 5px 0;
}

.recordsExpenses {
  max-width: 960px;
  margin: 20px auto;
}