.mainWrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 30px 10px 10px;
  min-height: 130px;
  max-height: 300px;
  width: 100%;
  box-sizing: border-box;

}

.leftSide {
  flex: 2;
}

.note {
  height: 65%;
  overflow: auto;
}

.indicator {
  height: 100%;
  width: 10px;
  margin-right: 10px;
}

.rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.text {
  padding-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.amount {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10px;
}

.currency {
  font-size: 70%;
}

.icon {
  height: 10px;
}

@media (max-width: 620px) {
  .middle {
    display: none;
  }
}