:root {
    --themeColor: rgba(0, 207, 141, 1);
}

.rdrStaticRange:hover .rdrStaticRangeLabel,
.rdrStaticRange:focus .rdrStaticRangeLabel {
    -webkit-box-shadow: inset 0px -2px 5px 0px rgba(0, 207, 141, 1);
    -moz-box-shadow: inset 0px -2px 5px 0px rgba(0, 207, 141, 1);
    box-shadow: inset 0px -2px 5px 0px rgba(0, 207, 141, 1);
}

.rdrStaticRange:hover {
    background-color: var(--themeColor)
}

.rangePicker {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 1);
    background-color: white;
}

.rdrDateRangePickerWrapper {
    box-sizing: border-box;
}

.rdrDayHovered {
    border-color: black;
}

.rdrStaticRangeLabel {
    text-align: center;
}



@media screen and (max-width: 650px) {
    .rdrDefinedRangesWrapper {
        display: none;
    }

    .rdrMonth{
        width: 100%;
        padding-left:0px;
        padding-right:0px;
    }

    .rdrDay,
    .rdrDay * {
        width: 15px;
        padding: 3px;
    }

    .rdrNextPrevButton {
        width: 40px;
    }

    .rdrMonthAndYearPickers>span:nth-child(2) {
        display: none;
    }

    .rdrMonthAndYearPickers select {
        padding: 0px;
    }

    .rdrDateDisplayWrapper {
        border-top-left-radius: 12px;
        margin: 0px auto;
        width: 100%;
    }

}
