.header {
  min-height: 90px;
  background-color: white;
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 420px;
  max-width: 960px;
  min-height: 90px;
  margin: auto;
  align-items: center;
}

.leftSide {
  float: left;
  padding-left: 20px;
}

.authButton {
  float: right;
  padding-right: 40px;
}

.hiddenMenu {
  display: none;
  padding-left: 20px;
}

@media only screen and (max-width: 650px) {
  .hiddenMenu {
    display: block;
  }

  .leftSide {
    display: none;
  }
}