.wrapper {
  padding: 0 20px 60px 20px;
}

.technologies {
  height: 90%;
}

.headerPaper {
  min-width: 420px;
  max-width: 960px;
  margin: 40px auto 20px auto;
  padding: 20px 0;
}

.header {
  text-align: center;
}

.paper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 420px;
  max-width: 960px;
  height: 65vh;
  margin: 20px auto;
}