.wrapper {
  box-sizing: border-box;
}

.firstPart {
  height: 300px;
}

.firstPartInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 420px;
  max-width: 960px;
  height: 100%;
  margin: auto;
  padding: 10px 20px;
  color: white;
}

.firstPartInner > h1 {
  margin-bottom: 30px;
}

.secondPart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px 0px;
  background-color: white;
  box-sizing: border-box;
}

.secondPartInner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 420px;
  max-width: 960px;
  box-sizing: border-box;
}

.card {
  max-width: 300px;
  min-width: 250px;
  margin: 0 20px;
}

.media {
  height: 0;
  padding-top: 100%;
}