.balloonWrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balloon {
  width: 200px;
  height: 200px;
  padding: 20px 0;
}

.balloonWrapper > h3 {
  margin: 20px 0;
}

.balloonWrapper > p {
  text-align: center;
}