.authWrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 150px;
    width: 740px;
    height: 460px;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    border-radius: 15px;
}