.registerWrapper {
  display: flex;
  flex-direction: column;
  width: 370px;
  min-height: 540px;
  background-color: rgb(221, 221, 221);
  justify-content: center;
  align-items: center;
}

.registerWrapper > h2 {
  margin-bottom: 20px;
}

.registerWrapper > .authButton {
  background-color: royalblue;
  color: white;
}